body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    margin: 0;
    padding: 20px;
    
}

.container {

    width: 100%; 
    height: calc(100% - 40px); 
    margin: 0 auto; 
    background: #e8f5e9;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto; 
    max-width: 1200px;
}

.fullscreen-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f5e9;
    box-sizing: border-box;
    padding: 20px;
}

.logo-img {
    display: block; 
    margin: 0 auto 20px; 
    max-width: 200px; 
    height: auto; 
}

h1 {
    text-align: center;
}

h1 {
    color: #388e3c;
}

h2 {
    color:#333;
}

label {
    display: block;
    margin: 10px 0 5px;
}


#mostrarContraseñas {
    margin-left: 10px; /* Espaciado entre el checkbox y la etiqueta */
}

#mostrarContraseñas + label {
    font-size: 12px; /* Tamaño más pequeño para la etiqueta */
    margin: 0; /* Sin margen extra */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: -15px; /* Reduce el espacio entre el checkbox y el campo anterior */
}

.checkbox-container label {
    margin: 0 0 0 5px; /* Espaciado entre el checkbox y el texto */
}


input[type="text"], input[type="email"], input[type=number], input[type=password], select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

